/* Google fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*
Colour Scheme
Off-white (base): #FCFAD0
Light grey: #A1A194
Medium grey: #5B605F
Dark grey: #464646
Magenta: #A90641
*/


body{
	background-color: #A1A194;
	color: #464646;

	font-family: "Open Sans", sans-serif;
}

a{
	color:#A90641;
}

form {
    margin-bottom: 20px;
    width: 500px;
}

#header{
	text-align: center;
	border: 2px solid #A90641;
	border-radius: 5px;
	padding: 15px;
}

 #bookmarks, #new-trail {
    float: left;
    width: 45%;
    margin: 2%;
    min-height: 300px;

    background-color: #FCFAD0;
    border: 1px solid #464646;
}

.section-header{
	background-color: #A90641;
	color: #A1A194;
	padding: 10px;
	margin:0;
	text-align: center;
}

.section-content{
	padding: 10px 25px;
}

.button{
	text-align: center;
}

